body {
    color: white;
    font-family: "Poppins";
    background-image:url(https://wallpapertag.com/wallpaper/middle/8/5/a/198280-full-size-gym-background-1920x1080.jpg);
}

.content {
    width: 60%;
    margin: auto;
}


.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image{
    width: 400px;
}