{% extends 'base.html' %}

{% block body %}

<header class="masthead">
            {% load static %}
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Meditate</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Meditation is both a skill and an experience that can positively impact your overall health and happiness.</h2>
                </div>
            </div>
        </header>
        <!-- Projects-->
        <section class="projects-section bg-light" id="about">
            <div class="container">
                <div class="row">
                    {% for key,value in types.items %}
                        <div class="col-sm-6 my-1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{value.0}}</h5>
                                    <p class="card-text">{{value.1}}</p>
                                    <a href="/meditation/{{key}}" class="btn btn-primary">Visit</a>
                                </div>
                            </div>
                        </div>    
                    {% endfor %}
                </div>
            </div>
        </br>
    {% endblock body %}