{% extends 'base.html' %}
{% load static %}
{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beginner Workout</title>
    <link rel="stylesheet" href="{% static 'css/workout.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="content">
            <h1 class="title">Beginner Routine</h1>
            <p class="para">Our 10 picks for beginner bodyweight exercises will provide a full-body workout.
                Complete 2 sets of 10 to 15 reps of each exercise, with 1 minute of rest between each move.
                This circuit should take about 15 minutes — a great beginner routine.
            </p>

            <h2 class="workout-title">Bridge</h2>
            <div class="images">
                <img src="https://thumbs.gfycat.com/UncomfortableElementaryIberianbarbel-size_restricted.gif">
            </div>
            <p class="para">Activate your core and posterior chain (a fancy term for the backside of your body) with a
                bridge. This is a great exercise to use as a warmup.</p>
            <p class="para">
                Directions:<br>
            <ol>
                <li>Lie on your back with your knees bent, feet flat on the floor, and your arms extended by your sides.
                </li>
                <li>Pushing through your feet and bracing your core, raise your bottom off the ground until your hips
                    are fully extended, squeezing your glutes at the top.</li>
                <li>Slowly return to the starting position and repeat.</li>
            </ol>
            </p>

        </div>
        <div class="content">
            <h2 class="workout-title">Chair Squat</h2>
            <div class="images">
                <img src="https://thumbs.gfycat.com/IncomparableAromaticEnglishpointer-size_restricted.gif">
            </div>
            <p class="para">Squat to strengthen your legs and core, which will make everyday movements easier. Starting
                with a chair underneath you will help you master proper form.</p>
            <p class="para">
                Directions:<br>
            <ol>
                <li>Stand in front of the chair with your feet shoulder-width apart, toes pointed slightly out.</li>
                <li>Hinging at your hips and bending your knees, lower back and down until your bottom touches the
                    chair, allowing your arms to extend out in front of you.</li>
                <li>Push up through your heels and return to the starting position.</li>
            </ol>
            </p>

        </div>
        <div class="content">
            <h2 class="workout-title">Knee Pushup</h2>
            <div class="images">
                <img src="https://thumbs.gfycat.com/AcademicSingleAmericanpainthorse-size_restricted.gif">
            </div>
            <p class="para">A beginner-style pushup, this move will help you build strength before attempting a standard
                pushup.

            </p>
            <p class="para">
                Directions:<br>
            <ol>
                <li>Get into a high plank position from your knees.</li>
                <li>Maintaining a straight line from your head to your knees, bend your elbows to lower yourself down to
                    the ground. Keep your elbows at a 45-degree angle.</li>
                <li>Push back up to start.</li>
            </ol>
            </p>

        </div>

        <div class="content">
            <h2 class="workout-title">Stationary lunge</h2>
            <div class="images">
                <img src="https://thumbs.gfycat.com/UnknownPleasedKodiakbear-size_restricted.gif">
            </div>
            <p class="para">Hit your quads, hamstrings, and glutes with a stationary lunge.</p>
            <p class="para">
                Directions:<br>
            <ol>
                <li>Split your stance with your right leg in front. Your right foot should be flat on the ground, and
                    your left foot should be up on its toes.</li>
                <li>Bend your knees and lunge, stopping when your right thigh is parallel to the ground.</li>
                <li>Push up through your right foot to return to the starting position. Repeat for desired number of
                    reps, then switch legs.</li>
            </ol>
            </p>

        </div>
    </div>
    <div class="content">
        <h2 class="workout-title">Bicycle crunch</h2>
        <div class="images">
            <img src="https://thumbs.gfycat.com/GlitteringPiercingArcticseal-size_restricted.gif">
        </div>
        <p class="para">Although you’ll work your core with almost all of these strength exercises, a targeted ab move
            doesn’t hurt.</p>
        <p class="para">
            Directions:<br>
        <ol>
            <li>Lie on your back and bring your legs to a tabletop position. Bend your elbows, and put your hands behind
                your head.</li>
            <li>Crunch up and bring your right elbow to your left knee, straightening your right leg.</li>
            <li>Release the crunch slightly. Bend your right leg and straighten your left leg, then bring your left
                elbow to your right knee.</li>
            <li>Repeat for the desired number of reps.</li>

        </ol>
        </p>

    </div>
    </div>

</body>

</html>
    {% endblock body %}